.box {
    width: 30%;
    height: 200px;
    border: 5px dashed #f7a239;
  }
  
  img {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 100%; /* takes the 100 % height of its container (.box div)*/
  }