/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {

    .header-right {
        display: block;
        float: right;
        padding: 6px 20px;
    }

    .header-headline {
        text-align: left;
        max-width: 380px;
        padding-top: 75px;
    }

    .header-running-text {
        line-height: 30px;
        margin: 0;
        text-align: left;
    }

    .hero {
        padding-bottom: 230px;
    }

    .hero-button {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .hero-right {
        text-align: left;
    }

    .ipad {
        display: block;
        position: absolute;
        right: 100px;
        z-index: 1;
        height: 427px;
        margin-top: 45px;
        transform: rotate(-6deg);
        max-width: 45%;
        border-style: solid;
        border-radius: 25px;
        border-color: black;
        background: #fff;
        box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 0px 33px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05);
    }

    .ipad-screen {
        display: block;
        padding-bottom: 40px;
        margin-top: 19px;
        right: 1px;
    }

    .ipadlevel {
        display: block;
        position: absolute;
        right: 100px;
        z-index: 1;
        height: 427px;
        margin-top: 45px;
        max-width: 45%;
        border-style: solid;
        border-radius: 25px;
        border-color: black;
        background: #fff;
        box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 0px 33px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05);
    }

    .feature-section {
        padding-top: 60px;
    }

    .features-headline {
        color: white;
        padding-bottom: 70px;
    }

    .logos {
        padding: 30px;
        max-width: 100%;
    }

    .white-section-text {
        text-align: justify;
        padding-top: 80px;
        padding-left: 100px;
    }

    .imac-section-desc {
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        max-width: 400px;
        margin: inherit;
        text-align: left;
    }

}

.team {
    padding-bottom: 130px;
}

.team-member {
    text-align: center;
}

.email-form-div {
    max-width: inherit;
    margin: auto;
}

.webscope {
    margin-top: 0;
}

.social-links {
    float: right;
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
}
